* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #111;
}
/* 
#box {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-radius: 10px;
  position: absolute; 
  animation-name: move;
  animation-duration: 
  animation-delay: 1s; 
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  animation-timing-function: ease-in-out;
} */

/* css animations */
/* @keyframes move {
  0% {
    left: 0;
    top:  0;
    background-color: red;
  }
  50% {
    left: 70%;
    top:  0%;
    background-color: green;
  }
  100% {
    left: 70%;
    top: 50%;
    background-color: blue;
  }
} */
/* 
h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
} */
/* 
h1::after{
  content: 'after';
  background-color: aqua;
  font-size: medium;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  text-align: center;
}

h1::before{
  content: 'before';
  background-color: red;
  font-size: medium;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  text-align: center;

} */

/* #circle {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-radius: 50%;
}

#box1 {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-radius: 10px;
  margin-bottom: 10px;
}

#box2 {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-radius: 10px;
  margin-bottom: 10px;
}

#box3 {
  height: 300px;
  width: 300px;
  background-color: lavender;
  border-radius: 10px;
  margin-bottom: 10px;
}

#page1{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2{
  background-color:black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#box{
  background-color: lavender;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#page4 {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #page1{
  height: 100vh;
  width: 100%;
  background-color: red;
}

#page2{ 
  height: 100vh;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#page3{
  height: 100vh;
  width: 100%;
  background-color: blue;
}

#box{
  height: 100px;
  width: 100px;
  background-color: lavender;
  border-radius: 10px;
} */

.page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  font-size: 50px;
  border-bottom: 10px solid #111;
  color: white;
}